{erl_opts, [debug_info]}.
{deps, []}.
{cover_enabled, true}.
{provider_hooks, [{post, [{compile, {erlando, compile}}, {ct, cover}]}]}.

{erl_first_files, [
  "src/astranaut.erl", 
  "src/transformer/astranaut_import_module.erl",
  "src/monad/astranaut_monad.erl",
  "src/monad/astranaut_walk_return.erl",
  "src/monad/astranaut_return_m.erl",
  "src/monad/astranaut_traverse_m.erl",
  "src/monad/astranaut_error_state.erl",
  "src/monad/astranaut_error_ctx.erl",
  "src/traverse/astranaut_imported_erl_syntax.erl",
  "src/traverse/erl_syntax/erl_syntax_22.erl",
  "src/traverse/erl_syntax/erl_syntax_21.erl",
  "src/traverse/erl_syntax/erl_syntax_20.erl",
  "src/traverse/astranaut_erl_syntax.erl",
  "src/traverse/astranaut_traverse.erl",
  "src/traverse/astranaut_traverse_error_state.erl",
  "src/traverse/astranaut_traverse_monad.erl",
  "src/astranaut_quote.erl",
  "src/transformer/astranaut_do.erl",
  "src/transformer/astranaut_do_transformer.erl",
  "src/astranaut_code.erl",
  "src/macro/astranaut_macro.erl",
  "src/macro/astranaut_macro_local.erl",
  "src/macro/astranaut_macro_options.erl",
  "src/rebinding/astranaut_rebinding.erl",
  "src/rebinding/astranaut_rebinding_options.erl",
  "src/rebinding/astranaut_rebinding_scope.erl",
  "test/macro/macro_pt.erl",
  "test/macro/astranaut_macro_example.erl"
]}.

{xref_checks,[
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{plugins, [
  {rebar3_erlando, {git, "https://github.com/slepher/rebar3_erlando.git", {tag, "0.2.3"}}}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]}
  ]}
]}.
