{erl_opts, [debug_info]}.
{deps, []}.

{erl_first_files, ["src/astranaut.erl", 
                   "src/astranaut_traverse.erl", 
                   "src/astranaut_monad.erl",
                   "src/astranaut_monad_identity.erl",
                   "src/astranaut_monad_error_t.erl",
                   "src/astranaut_monad_state_t.erl",
                   "src/astranaut_quote.erl",
                   "src/astranaut_macro.erl",
                   "test/astranaut_test_macro.erl"]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

{profiles, [
  {test, [
          {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
  ]}
]}.
