{erl_opts, [debug_info]}.
{deps, []}.
{cover_enabled, true}.
{provider_hooks, [{post, [{ct, cover}]}]}.
{erlc_compiler,[{recursive,false}]}.
{erl_first_files, [
  "src/astranaut_monad.erl",
  "src/astranaut_error.erl",
  "src/astranaut_traverse.erl",
  "src/astranaut_return.erl",
  "src/astranaut_uniplate.erl",
  "src/astranaut.erl", 
  "src/astranaut_lib.erl",
  "src/astranaut_syntax.erl",
  "src/astranaut_quote.erl",
  "src/astranaut_do.erl",
  "src/astranaut_macro.erl",
  "src/astranaut_rebinding.erl",
  "test/astranaut_test_lib.erl"
]}.


{edoc_opts, [ {preprocess, true} ]}.

{xref_checks,[
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{plugins, [
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]}
  ]}
]}.
